@tailwind base;
@tailwind components;
@tailwind utilities;

.clip {
  clip-path: url(#clip-00);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

svg {
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  fill: transparent;
  pointer-events: none;
  animation: animateDash 8s 4s ease-in forwards, fillIn 6s 8s ease-in forwards;
}

@keyframes animateDash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fillIn {
  to {
    fill: url(#skyGradient);
  }
}
